.page {
  display: flex;
  flex-direction: column;
  justify-items: center;
  min-height: 100svh;
  padding: 56px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-width: 100%;
}

.main ol {
  font-family: var(--font-mono);
  padding-left: 0;
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.25rem;
}

.logoSeparator {
  color: var(--gray-alpha-300);
  font-size: 28px;
  margin: 0 20px;
}

.video {
  max-width: 680px;
  margin-inline: auto;
}

.ctas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.spacer {
  flex: 1;
}

.footer {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 680px) {
  .page {
    padding: 40px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas a {
    width: 100%;
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .icon {
    filter: invert();
  }
}
